$font-proyect: "Nunito", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
  font-family: $font-proyect;
  font-weight: 700;
  margin: 0;
}
p,
input {
  font-family: $font-proyect;
  margin: 0;
}
a {
  text-decoration: none;
}
/** Colores **/

$color-lightblue: #eefaff;
$color-beige: #fff4cd;
$color-violet: #f4ebff;
$color-white: #ffffff;
$color-black: #202020;
$color-blue: #0079eb;
$color-blue-hover: #0064c2;
$texto-enlaces: #2b2b2b;
$border-inputs: #dbdbdb;
$color-inputs-placeholder: #bfbfbf;
$bg-color-registro: #ba54eb;
$bg-color-registro-hover: #903db6;
$bg-color-red-uno: #1da1f2;
$bg-color-red-dos: #26242e;
$error-input: #dc3545;
$sombra-btn-categorias: #b2daf5;
$svg-color: #212529;

.text-crimson{
  color: #dc143c;
}

@mixin text-truncate-wrap-alt {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
